<ul id="main-menu" class="nav">
    <li class='dropdown margin-right-5' id='menu-item-1'><a href='/thinkcmd/' target=''>首页</a></li>
    <li class='dropdown dropdown margin-right-5' id='menu-item-2'><a href='/thinkcmd/index.php?m=list&a=index&id=1'
                                                                     target='' class='dropdown-toggle'
                                                                     data-toggle='dropdown'>关于 <b
            class='caret'></b></a>
        <ul class='dropdown-menu dropdown-menu-right bullet'>
            <li class='dropdown margin-right-5' id='menu-item-4'><a href='/thinkcmd/' target=''>关于我们</a></li>
            <li class='dropdown margin-right-5' id='menu-item-5'><a href='/thinkcmd/' target=''>公司荣誉</a></li>
        </ul>
    </li>
    <li class='dropdown margin-right-5' id='menu-item-3'><a href='/thinkcmd/index.php?m=list&a=index&id=2' target=''>招商加盟</a>
    </li>
    <li class='dropdown margin-right-5' id='menu-item-6'><a href='/thinkcmd/' target=''>联系我们</a></li>
    <li class='dropdown dropdown margin-right-5' id='menu-item-7'><a href='/thinkcmd/' target='' class='dropdown-toggle'
                                                                     data-toggle='dropdown'>产品 <b
            class='caret'></b></a>
        <ul class='dropdown-menu dropdown-menu-right bullet'>
            <li class='dropdown margin-right-5' id='menu-item-10'><a href='/thinkcmd/' target=''>关于产品</a></li>
            <li class='dropdown margin-right-5' id='menu-item-11'><a href='/thinkcmd/' target=''>5.1声道系列</a></li>
        </ul>
    </li>
    <li class='dropdown dropdown margin-right-5' id='menu-item-8'><a href='/thinkcmd/' target='' class='dropdown-toggle'
                                                                     data-toggle='dropdown'>案例 <b
            class='caret'></b></a>
        <ul class='dropdown-menu dropdown-menu-right bullet'>
            <li class='dropdown margin-right-5' id='menu-item-12'><a href='/thinkcmd/' target=''>家庭影院案例</a></li>
            <li class='dropdown margin-right-5' id='menu-item-13'><a href='/thinkcmd/' target=''>KTV案例</a></li>
            <li class='dropdown margin-right-5' id='menu-item-14'><a href='/thinkcmd/' target=''>教学系统案例</a></li>
        </ul>
    </li>
    <li class='dropdown dropdown margin-right-5' id='menu-item-9'><a href='/thinkcmd/' target='' class='dropdown-toggle'
                                                                     data-toggle='dropdown'>资讯 <b
            class='caret'></b></a>
        <ul class='dropdown-menu dropdown-menu-right bullet'>
            <li class='dropdown margin-right-5' id='menu-item-15'><a href='/thinkcmd/' target=''>公司新闻</a></li>
            <li class='dropdown margin-right-5' id='menu-item-16'><a href='/thinkcmd/' target=''>行业新闻</a></li>
        </ul>
    </li>
</ul>


<!--
fenge-->
<nav class="navbar navbar-default met-nav  " role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle hamburger hamburger-close collapsed"
                        data-target="#example-navbar-default-collapse" data-toggle="collapse">
                    <span class="sr-only"></span>
                    <span class="hamburger-bar"></span>
                </button>
                <a href="http://show.metinfo.cn/muban/M1156004/305/" class="navbar-brand navbar-logo vertical-align"
                   title="家居公司，室内设计公司">
                    <div class="vertical-align-middle">
                        <img class="logox" src="__TMPL__Public/upload/1468150825.png" alt="家居公司，室内设计公司"
                             title="家居公司，室内设计公司"/>
                        <img class="logos" src="__TMPL__Public/upload/1467997051.png" alt="家居公司，室内设计公司"
                             title="家居公司，室内设计公司"/>
                    </div>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-default-collapse">
                <ul class="nav navbar-nav navbar-right navlist">
                    <li class="margin-right-5"><a href="/xdm" title="首页" class="link">首页</a></li>

                    <li class="dropdown margin-right-5">
                        <a
                                class="dropdown-toggle link "
                                data-toggle="dropdown"
                                data-hover="dropdown"
                                href="about/"
                                aria-expanded="false"
                                role="button"
                                title="关于"
                        >关于 <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">

                            <li><a href="{:U('About/index')}" class="" title="关于我们">关于我们</a></li>

                            <li><a href="about/show.php?lang=cn&id=103" class="" title="公司荣誉">公司荣誉</a></li>

                            <li><a href="about/show.php?lang=cn&id=104" class="" title="设计团队">设计团队</a></li>

                            <li><a href="about/show.php?lang=cn&id=105" class="" title="服务流程">服务流程</a></li>
                        </ul>
                    </li>
                    <li class="dropdown margin-right-5">
                        <a
                                class="dropdown-toggle link "
                                data-toggle="dropdown"
                                data-hover="dropdown"
                                href="price/"
                                aria-expanded="false"
                                role="button"

                                title="产品"
                        >产品 <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">

                            <li class="visible-xs-block"><a href="price/" title="全部">全部</a></li>


                            <li class="dropdown-submenu">
                                <a href="price/product.php?lang=cn&class2=111" class="" role="button"
                                   tabindex="-1">建材</a>
                                <ul class="dropdown-menu animate" role="menu">

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=115" class=""
                                                               role="menuitem" tabindex="-1">卫浴</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=116" class=""
                                                               role="menuitem" tabindex="-1">涂料</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=117" class=""
                                                               role="menuitem" tabindex="-1">地板</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=118" class=""
                                                               role="menuitem" tabindex="-1">瓷砖</a></li>

                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="price/product.php?lang=cn&class2=112" class="" role="button"
                                   tabindex="-1">家具</a>
                                <ul class="dropdown-menu animate" role="menu">

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=119" class=""
                                                               role="menuitem" tabindex="-1">床</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=120" class=""
                                                               role="menuitem" tabindex="-1">沙发</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=121" class=""
                                                               role="menuitem" tabindex="-1">柜子</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=122" class=""
                                                               role="menuitem" tabindex="-1">桌几</a></li>

                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="price/product.php?lang=cn&class2=113" class="" role="button"
                                   tabindex="-1">软装</a>
                                <ul class="dropdown-menu animate" role="menu">

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=123" class=""
                                                               role="menuitem" tabindex="-1">窗帘</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=124" class=""
                                                               role="menuitem" tabindex="-1">壁纸</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=125" class=""
                                                               role="menuitem" tabindex="-1">灯饰</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=126" class=""
                                                               role="menuitem" tabindex="-1">床上用品</a></li>

                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="price/product.php?lang=cn&class2=114" class="" role="button"
                                   tabindex="-1">家电</a>
                                <ul class="dropdown-menu animate" role="menu">

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=127" class=""
                                                               role="menuitem" tabindex="-1">大家电</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=128" class=""
                                                               role="menuitem" tabindex="-1">厨卫家电</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=129" class=""
                                                               role="menuitem" tabindex="-1">生活家电</a></li>

                                    <li role="presentation"><a href="price/product.php?lang=cn&class3=130" class=""
                                                               role="menuitem" tabindex="-1">家庭影音</a></li>

                                </ul>
                            </li>

                        </ul>
                    </li>


                    <li class="dropdown margin-right-5">
                        <a
                                class="dropdown-toggle link "
                                data-toggle="dropdown"
                                data-hover="dropdown"
                                href="case/"
                                aria-expanded="false"
                                role="button"

                                title="案例"
                        >案例 <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">

                            <li class="visible-xs-block"><a href="case/" title="全部">全部</a></li>


                            <li><a href="case/img.php?lang=cn&class2=132" class="" title="客厅设计">客厅设计</a></li>

                            <li><a href="case/img.php?lang=cn&class2=133" class="" title="卧室设计">卧室设计</a></li>

                            <li><a href="case/img.php?lang=cn&class2=134" class="" title="厨房设计">厨房设计</a></li>

                        </ul>
                    </li>


                    <li class="dropdown margin-right-5">
                        <a
                                class="dropdown-toggle link "
                                data-toggle="dropdown"
                                data-hover="dropdown"
                                href="news/"
                                aria-expanded="false"
                                role="button"

                                title="资讯"
                        >资讯 <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">

                            <li class="visible-xs-block"><a href="news/" title="全部">全部</a></li>


                            <li><a href="news/news.php?lang=cn&class2=109" class="" title="装修搭配">装修搭配</a></li>

                            <li><a href="news/news.php?lang=cn&class2=110" class="" title="软装改造">软装改造</a></li>

                        </ul>
                    </li>


                    <li class="margin-right-5"><a href="contact/" title="联系" class="link ">联系</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
